.category-dropdown {
  font-family: var(--font-Geometria-mono);
  padding: 0;

  .dropdown-button {
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    background-color: transparent;

    .arrow {
      margin-left: 10px;
      transition: transform 0.3s ease;
    }

    .arrow.open {
      transform: rotate(180deg);
    }

    @media (max-width: 1040px) {
      font-size: 15px;
    }
  }

  @media (max-width: 768px) {
    position: relative;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 16px;

  .dropdown-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 0 35px 0;
    column-gap: 3vw;
    // margin: 0 auto;

    li {
      padding: 10px 20px;
      list-style: none;

      .categoryItem {
        text-decoration: none;
        color: #0f0f0f;
        display: block;
        transition: background-color 0.3s ease;
        cursor: default;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-bottom: 16px;
      }

      .sub-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          padding: 0;
        }

        a {
          font-size: 14px;
          font-weight: normal;
          text-transform: none;
          margin: 0;
          padding: 0;
          cursor: pointer;
          color: #727272;

          &:hover {
            color: #9e5d07;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 3vw;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0;
    }
  }
}