.card {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
}


.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: #141414;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 24px;
}


.list li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
}

.returnPolicy {
    position: relative;
    display: inline-block;
    font-size: .8rem;
    font-weight: 500;
    color: #525252;
    text-decoration: none;
    transition: color 0.3s ease;

    // ефект underline
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0%;
        height: 2px;
        background: #c19a6b; // колір дерева
        transition: width 0.3s ease;
    }

    &:hover {
        color: #000;

        &::after {
            width: 100%;
        }
    }
}


.icon {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
}

.available {
    color: #16a34a;
    font-weight: 500;
}

.phone {
    font-weight: 500;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1200px) {
    .list {
        grid-template-columns: 1fr;
    }
}