.footer {
  background-color: #333;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 16px;
  font-family: var(--font-Geometria-mono);

  @media (max-width: 768px) {
    padding: 40px;
  }

  .footer__container-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .footer__column {
    flex: 1;
    min-width: 200px;
    padding: 40px 60px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    @media (max-width: 768px) {
      min-width: 250px;
      border: none;

      &:last-child {
        border: none;
      }
    }

    @media (max-width: 480px) {
      min-width: 100%;
      padding: 20px 30px;
    }

    .footer__heading {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: #fff;
      font-weight: 100;

      @media (max-width: 768px) {
        font-size: 18px;
      }

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }

    .footer__text {
      font-size: 16px;
      color: #767676;
      line-height: 1.5;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
  }

  .footer__links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: #767676;
        transition: .6s;

        &:hover {
          color: #cfa56f;
          text-decoration: underline;
        }
      }
    }
  }

  .footer__bottom {
    // margin-top: 30px;
    padding: 0 20px;
    padding-top: 40px;
    // border-top: 1px solid #444;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      justify-content: center;
    }

    @media (max-width: 480px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .footer__copyright {
    font-size: 14px;
    color: #767676;

    @media (max-width: 480px) {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  .footer__socials {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      justify-content: center;
      gap: 10px;
    }

    a {
      color: #767676;
      transition: .6s;

      &:hover {
        color: #cfa56f;
        text-decoration: underline;
      }
    }
  }
}

.useful_links {
  display: flex;
  flex-wrap: wrap;
  gap: .6rem;
  // justify-content: space-between;

  a {
    display: inline-block;
    font-size: 16px;
    color: #767676;
    line-height: 1.5;
    color: #767676;
    transition: .6s;

    &:hover {
      color: #cfa56f;
      text-decoration: underline;
    }
  }
}