.gallery {
  max-width: 50%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 50vw;
  cursor: pointer;
  outline: none;
  user-select: none;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
    object-fit: contain;
  }
}

/* Swiper стилі */
.gallery :global(.swiper) {
  position: relative;
}

.gallery :global(.swiper-button-prev),
.gallery :global(.swiper-button-next) {
  position: absolute;
  top: 50%;
  margin: 0 12px;
  transform: translateY(-50%);
  z-index: 10;
  width: 44px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  @media (max-width: 480px) {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}

.gallery :global(.swiper-button-prev):hover,
.gallery :global(.swiper-button-next):hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%) scale(1.1);
}

.gallery :global(.swiper-button-prev::after),
.gallery :global(.swiper-button-next::after) {
  font-size: 16px;
  font-weight: bold;

  @media (max-width: 480px) {
    font-size: 10px;
    font-weight: bold;
  }
}

.gallery :global(.swiper-pagination-bullet) {
  background-color: #000;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.gallery :global(.swiper-pagination-bullet-active) {
  background-color: #343435;
}